<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->

    <serverUrl url="http://sampleserver1.arcgisonline.com/arcgis/rest/services/" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://sampleserver2.arcgisonline.com/arcgis/rest/services/" 
               matchAll="true" 
               token=""></serverUrl>
    <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://orthogonal.esri.com/arcgis/rest/services/"
               matchAll="true"></serverUrl>
    <serverUrl url="http://hummer/ArcGIS/rest/services"
               matchAll="true"
               dynamicToken="true"
               ></serverUrl>

    <serverUrl url="http://help.arcgis.com/arcgis/rest/services/" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://sampleserver6.arcgisonline.com/arcgis/rest/services/" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://geocode.arcgis.com/ArcGIS/rest/services/" 
               matchAll="true"></serverUrl>

    <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services/" 
               matchAll="true"></serverUrl>

    <!--ESRI CENSUS/ACS-->
    <serverUrl url="http://demographics5.arcgis.com/arcgis/rest/services/" 
               matchAll="true"></serverUrl>

    <!--Local-->
    <serverUrl url="http://geobase-dbnewer/arcgis/rest/services/" 
               matchAll="true"></serverUrl>

    <serverUrl url="http://arcgisprod01:6080/arcgis/rest/services/" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://arcgisprod01/arcgis/rest/services/" 
               matchAll="true"></serverUrl>

    <serverUrl url="http://twgreenriver1/twpub/rest/services" 
               matchAll="true"></serverUrl>

    <serverUrl url="http://twgreenriver3.tacoma.lcl/twonly/rest/services" 
               matchAll="true"></serverUrl>

    <serverUrl url="http://wspdsmap.ci.tacoma.wa.us/arcgis/rest/services" 
               matchAll="true"></serverUrl>


    <!--ES-->
    <serverUrl url="http://esgis01/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--CED-->
    <serverUrl url="https://wspdsmap.cityoftacoma.org/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--IT-GIS-->
    <serverUrl url="http://arcgisdev01:6080/arcgis/rest/services" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://arcgisdev01/arcgis/rest/services" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://arcgisdev02:6080/arcgis/rest/services" 
               matchAll="true"></serverUrl>
    <serverUrl url="http://gis.cityoftacoma.org/arcgis/rest/services" 
               matchAll="true"></serverUrl>
    <serverUrl url="https://gis.cityoftacoma.org/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--NOAA-->
    <serverUrl url="http://nowcoast.noaa.gov/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--Smelter-->
    <serverUrl url="https://fortress.wa.gov/ecy/ecyprodgislb/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!-- WDFW-Fish -->
    <serverUrl url="http://gispublic.dfw.wa.gov/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--Printing-->
    <serverUrl url="http://utility.arcgisonline.com/arcgis/rest/services" 
               matchAll="true"></serverUrl>

    <!--2015 Aerials-->
    <serverUrl url="http://gismaps.kingcounty.gov/imagery/rest/services" 
               matchAll="true"></serverUrl>
              
  </serverUrls>
  
</ProxyConfig>
