<?xml version="1.0"?>
<configuration>
 <!--
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
 </system.webServer>
 -->

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
        <!--  <customErrors mode="Off"/>  To enable the details of this specific error message -->
        <!--  <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>  The current error page you are seeing can be replaced by a custom error page-->
        <!--  <customErrors mode="On"  defaultRedirect="mycustompage.htm" />  On - default error message is shown to everyone. This could be a security problem since part of source code where error occurred is shown too. http://www.beansoftware.com/ASP.NET-Tutorials/Custom-Error-Pages.aspx-->
 </system.web>
 
  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="Info" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="agsProxyLogListener" type="System.Diagnostics.TextWriterTraceListener"
             initializeData="C:\Temp\Shared\proxy_logs\auth_proxy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
